<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="FacebookSuite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Test_Packages.Test123"/>
      <class name="HRM1.Testng"/>
      <class name="Test_Packages.TestNg">
		  <methods>
			<include name="verifytheTitleofCurrentPage"></include>
			<exclude name="verifyFeatureLinkt"></exclude>
		  </methods>
       </class>
      
	      <class name="Test_Packages.New_TestNG">
		 <methods>
			 <include name="verifytheDesktopPage"></include>
			  </methods>
		  </class>
	      
	    </classes>
	  </test> <!-- Test -->
	  
	    <test thread-count="5" name="Test">
    <classes>
      <class name="Test_Packages.Test123"/>
      <class name="HRM1.Testng"/>
      <class name="Test_Packages.TestNg">
		  <methods>
			<include name="verifytheTitleofCurrentPage"></include>
			<exclude name="verifyFeatureLinkt"></exclude>
		  </methods>
       </class>
      
	      <class name="Test_Packages.New_TestNG">
		 <methods>
			 <include name="verifytheDesktopPage"></include>
			  </methods>
		  </class>
	      
	    </classes>
	  </test> <!-- Test -->
	</suite> <!-- Suite -->
